@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@200&display=swap');
}

h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}

body{
    /*display: flex;*/
    justify-content: center;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
}

img{
    border-radius: 50%;
    box-shadow: 0 0 30px #dbc2a4;
    transition: transform .1s;
    width: 100%;
}

img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

#coordonnees a{
    color: white;
    text-decoration: none;
}

#coordonnees a:hover{
    text-decoration: underline;
}

h3{
    background-color: #dbc2a4;
}

#box-right h3{
    border-left: 5px solid #782221;
}

#box-left h3, #indent{
    text-indent: 11%;
}

#marge{
    padding-left: 30px;
}

footer, #presentation{
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

#coordonnees{
    background-color: #2c1d27;
    justify-content: space-between;
    padding: 20px;
    display: flex;
}

#presentation, footer, #box-left{
    background-color: #782221;
}

section, main{
    display: flex;
    margin: auto;
}

#box-left{
    padding-right: 30px;
}

#box-right{
    padding-left: 20px;
}

#experience-1:hover, #experience-2:hover, #experience-3:hover, 
#diplome-1:hover, #diplome-2:hover, #diplome-3:hover, 
#c1:hover, #c2:hover, #c3:hover, #c4:hover, #c5:hover{
    transform: scale(1.05);
    border-left: 5px solid #782221;
}

i:hover {
    opacity: 0.5;
}

.fi-brands-github{
    color: white;
}

.fi-brands-twitter{
    color: aqua;
}

.fi-brands-linkedin{
    color: #007BB5;
}


